body {
	background-image: url(../images/tileable-whitewashed-grunge-textures-5.png);
}

#splash {
	/*background-image: url(../images/seamless-paper-patterns-15.jpg);*/
	background-color: white;
	height: 450px;
	width: 100%;
	opacity: 0.9;
	text-align: center;
}

#topbar{
	height: 150px;
	width: 100%;
}

#planner {
	height: 100px;
	display: inline-block;
	margin: 150 auto;
	position: absolute;
}

#howmany{
	margin: 180 auto;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

#number-of-lessons{
	border-radius: 25px;
	width: 30px;
	display: inline-block;
	height: 30px;
	border-style: ridge;
	text-align: center;
}

form {
	display: inline-block;
	font-size: 20px;
}