body {
	background-image: url(../images/tileable-whitewashed-grunge-textures-5.png);
	font-family: 'Raleway', sans-serif;
}

#splash {
	/*background-image: url(../images/seamless-paper-patterns-15.jpg);*/
	background-color: white;
	height: 450px;
	width: 100%;
	opacity: 0.9;
	text-align: center;
}

#gutter {
	height: 600px;
	width: 100%;
}

#topbar{
	height: 150px;
	width: 100%;
}

#planner {
	height: 100px;
	display: inline-block;
	padding-top: 150px;
	position: absolute;
}

#howmany{
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding-top: 175px;
}

#number-of-lessons{
	border-radius: 25px;
	width: 30px;
	display: inline-block;
	height: 30px;
	border-style: ridge;
	text-align: center;
}

form {
	display: inline-block;
	font-size: 20px;
}


/* CSS for Brainstorm Page */

#brainstorm-board {
	/*background-image: url(../images/seamless-paper-patterns-15.jpg);*/
	background-color: white;
	height: 700px;
	width: 85%;
	opacity: 0.9;
	text-align: center;
	display: inline-block;
	float: left;
}

#sticky-generator {
	background-color: white;
	width: 15%;
	height: 700px;
	display: inline-block;
	float: left;
	text-align: center;
}

.sticky-template {
	background-color: yellow;
	width: 75%;
	height: 125px;
	display: inline-block;
	position: relative;
	z-index: 9999;
}

#sticky-text {
	background-color: yellow;
	width: 75%;
	display: inline-block;
	height: 110px;
	border-style: none;
	margin-top: 5px;
}

#clone-button{
	height: 20px;
}

.lesson {
	width: 20%;
	height: 20%;
	border-style: solid;
}